{% extends 'basePROP.html.twig' %}

{% block slide %}
    <section class="slider-pro slider" id="slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="{{asset('assets/front/images/rest1.jpg')}}"" alt="Slider 1"/>

                <h1 class="sp-layer slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts"> Un goût de légende</span>
                </h1>

                <p class="sp-layer slider-text-big"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                la saveurs , un vrai bonheur
                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
            <div class="img-overlay"></div>
                <img class="sp-image" src="{{asset('assets/front/images/rest.jpg')}}" alt="Slider 2"/>

                <h1 class="sp-layer slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Bien manger, un plaisir à partager</span>
                </h1>

                <p class="highlight-texts"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    découvrer les meilleurs restaurants.
                </p>
            </div>

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="{{asset('assets/front/images/rest1.jpg')}}" alt="Slider 3"/>

                <h1 class="sp-layer slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Le goût d'en faire plus</span>
                </h1>

              
            </div>
            <!-- Slides End -->

        </div>
    </section>
{% endblock %}

   {% block navbar %}{% endblock %}
   {% block about %} {% endblock %}

    {% block services %}



		
	 <section id="services" class="section-wrapper">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Services</span></h2>
                   
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Notre Restaurant vous offre une varieté de services</p>
                </div>
                <!-- Section Header End -->
 
                <div class="our-services">
			     <div class="row">
                     
                        <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".1s">
						<div class="service-box">
                            <div class="icon">
                                <i class="icon_group"></i><h3>Réserver place</h3>
                            </div>
                            
                            <p>Réserver vos places</p>
                        </div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".1s">
						<div class="service-box">
                            <div class="icon">
                                <i class="icon_currency_alt"></i><h3>Passer une commande </h3>
                            </div>
                            
                            <p>Passer une commande pour déguster plus nos plats</p>
                        </div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".1s">
						<div class="service-box">
                            <div class="icon">
                                <i class="icon_map_alt"></i><h3>Consulter Google Maps</h3>
                            </div>
                            
                            <p>Pour une Direction directe a notre restaurant</p>
                        </div>
</div>
                    </div>
		
	
                     
                    </div> 
                
                </div> 

            </div>
        </div>

            </div>
        </div>
    </section> 
      {% endblock %}
  {% block Menu %}

<section class="menus style3 txt-color" id="menuCard">
                <div class="container"> 
                    <div class="row"> 
	


	    <!-- Section Menu -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Carte Menu</span></h2>
                   
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Bien!!! manger ? Deguster ? Savourer ? Croquer ?... Bref Se régaler </p>
                </div>
                <!-- Section Header End -->
				
                        <div class="menus-container"> 
                                <!-- menu --> 
                                    <div class="menu row">
                                        <div class="col-md-6 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                                            <div class="menu-column">
                                             {% for plat in plats %}
                                                <div class="food">
                                                    <div class="food-desc">
                                                        <h6 class="food-name">{{plat.idplat.nom}}</h6>
                                                        <div class="dots"></div>
                                                        <div class="food-price">
                                                            <span>{{plat.idplat.prix}} Dt</span>
                                                        </div><!-- /food-price -->
                                                    </div><!-- /food-desc -->
                                                    <div class="food-details">
                                                        <span>{{plat.idplat.description}}</span>
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                                {% endfor %}
                                             
                                                    </div><!-- /food-details -->
                                                </div><!-- /food -->
                                            </div><!-- /menu-column -->
                                        </div><!-- /col-md-6 -->
                                    </div><!-- /row -->
                                 </div><!-- /menu-carousel -->
                        </div><!-- /menus-container --> 
                </div><!-- /container -->
            </section>

      {% endblock %}
   {% block portfolio %}{% endblock %}
   {% block info %} {% endblock %}
   {% block team %} {% endblock %} 
   {% block Clients %} {% endblock %}

