{% extends 'base.html.twig' %}

{% block title %}Menuplat index{% endblock %}

{% block body %}
    <h1>Menuplat index</h1>
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

    <div class="col-lg-7">

        <div class="card">
            <div class="card-body">
                            <a href="{{ path('restaurant_index') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>

    <table class="table">
        <thead>
            <tr>
              
                <th>Menu</th>
                  <th>plats</th>
               <th>prix</th>
               <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for menuplat in menuplats %}
            <tr>
                <td>{{ menuplat.idmenu.titre}}</td>
                 <td>{{ menuplat.idplat.nom }}</td>     
                  <td>{{ menuplat.idplat.prix }} dt</td>   


                <td>
                    
                    <a  class="btn btn-danger" href="{{ path('menuplat_edit', {'id': menuplat.id}) }}">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}


        
        </tbody>
    </table>

   
{% endblock %}
